$blue: #063e84;
$red: #F20A02;

.container::before {
    background: #F20A02;;
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 0;
}

.container::after {
    background: #F20A02;;
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 5%;
    left: 0;
}

.container {
    padding: 7% 0;
    display: flex;
    flex-direction: row nowrap;
}

h1 {
    color: #063e84;
    width: 300px;
}

img {
    width: 400px;
}

body {
    color: #063e84;
    text-transform: uppercase;
}

.right {
    display: flex;
    flex-direction: row;
    height: 85%;
    margin-top: 10%;
}

span {
    color: #F20A02;
    font-size: 2000%;
    line-height: 1em;
}

span:nth-last-of-type(1) {
    padding-left: 10%;
    padding-right: 10%;
}

span:nth-last-of-type(2) {
    padding-right: 10%;
}

form {
    padding-left: 10%;
    margin-top: 10%;
}

input[type=submit] {
    float: right;
    border-radius: 20px;
}

h1, label {
    font-weight: bold;
}

small {
    text-transform: lowercase;
    font-style: italic;
}